Host Docker01
  Hostname 172.16.3.106
  User ydh
  IdentityFile ~/.ssh/PVEsrv

Host Unifi
  Hostname 172.16.3.102
  User ydh
  IdentityFile ~/.ssh/PVEsrv

Host Docker02
  Hostname 172.16.3.107
  User ydh
  IdentityFile ~/.ssh/PVEsrv

Host Pihole
  Hostname 172.16.3.108
  User ydh
  IdentityFile ~/.ssh/PVEsrv

Host zabbix
  Hostname 172.16.3.201
  User ydh
  IdentityFile ~/.ssh/PVEsrv

Host Truenas
  Hostname truenas.local.yarondeherdt.be
  User service_Backup
  IdentityFile ~/.ssh/Backup-Service-TrueNAS