[defaults]
inventory = inventory

private_key_file = ~/.ssh/ansible-user
remote_user = ansible
vault_password_file = /home/ydh/.credentials/.AnsibleBackupServerKey

# ansible.cfg
[ssh_connection]
ssh_args = -o ForwardAgent=yes
control_path = ~/.ansible/cp/ansible-%%r@%%h:%%p