[defaults]
inventory = inventory

private_key_file = ~/.ssh/ansible-user
remote_user = ansible
vault_password_file = /home/ydh/.credentials/.AnsibleBackupServerKey

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
# the cutie is the best <3